<%# In order to have notifications in this page we use the "notice" ruby tag %>
<p style="color: green"><%= notice %></p>
<h1>Article Details</h1>

<%# To display the articles details we use the "render @element" ruby tag %>
<%= render @article %>

<%# Buttons section %>
<div>
    <p>Link actions</p>
</div>