<%# In order to have notifications in this page we use the "notice" ruby tag %>
<p style="color: green"><%= notice %></p>
<h1>Article Details</h1>

<%# To display the articles details we use the "render @element" ruby tag %>
<%= render @article %>

<%# Buttons section %>
<div>
    <%= link_to "Edit this article", edit_article_path(@article) %>
    <br><br>
</div>
<%= link_to "Back to Articles", articles_path %>